$black:black;
$dark-grey:rgba(255, 247, 247, 0.07);
$green:#8ECA42;
$grey:#8D8D8D;
$light-blue1: #00FFF0;
$light-blue2:#00ffeef5;
$light-grey:#C4C4C4;
$purple:rgb(149, 0, 208);
$yellow:#FFF500;
$white:white;