//* HERO
.hero-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content-container {
    // header
    h1 {
        width: 344px;
        font-size: 36px;
        font-weight: 800;
        line-height: 40px;
        margin-bottom: 15px;
    }

    // description
    h2 {
        width: 265px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 20px;
    }

    // icon container
    .hero-icon-container {
        display: flex;
        justify-content: space-between;
        width: 90px;
        margin-bottom: 5px;
    }

    // code bracket
    h4 {
        font-weight: 400;
        font-size: 12px;
        line-height: 38px;
    }
}


//*ICONS

.mail-icon,
.github-icon,
.linkedin-icon {
    height: 20px;
    width: 20px;
}

.mail-icon {
    background: url('../assets/icons/mail.svg') no-repeat;
    background-size: cover;
}

.github-icon {
    background: url('../assets/icons/github.svg') no-repeat;
    background-size: cover;
}

.linkedin-icon {
    background: url('../assets/icons/linkedin.svg') no-repeat;
    background-size: cover;
}

a:hover {
    background-color: rgb(149, 0, 208);
    border-radius: 33px;
}

//*END ICONS

// *MEDIA QUERIES

@media only screen and (min-width: 774px) {
    .hero-content-container {

        // header
        h1 {
            width: 604px;
            font-size: 64px;
            font-size: 64px;
            line-height: 59px;
        }

        // description
        h2 {
            width: 390px;
            font-weight: 300;
            font-size: 30px;
            line-height: 31px;
            margin-bottom: 14px;
        }

        h4 {
            font-size: 16px;
        }

        .hero-icon-container {
            width: 130px;
        }

        .mail-icon,
        .github-icon,
        .linkedin-icon {
            height: 30px;
            width: 30px;
        }
    }
}


@media only screen and (min-width: 1440px) {
    .hero-content-container {

        //header
        h1 {
            width: 860px;
            height: 160px;
            font-size: 93px;
            line-height: 90px;
            margin-bottom: 30px;
        }

        // description
        h2 {
            width: 512px;
            height: 70px;
            font-size: 39px;
            line-height: 35px;
            margin-bottom: 25px;
        }

        .hero-icon-container {
            width: 180px;
            margin-bottom: 10px;
        }

        .mail-icon,
        .github-icon,
        .linkedin-icon {
            height: 45px;
            width: 45px;
        }

        h4 {
            font-size: 23px;
            line-height: 38px;
        }
    }
}