.info-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;

    h2 {
        font-weight: 800;
        font-size: 40px;

    }

    .about-section,
    .skills-section,
    .text-container,
    .skills-icon-container {
        width: 347px;
    }
}

//* About
.about-section {
    margin-bottom: 20px;

    h2 {
        color: $yellow;
    }

    p {
        font-size: 13px;
        line-height: 27px;
    }
}

//*Skills
.skills-section {
    h2 {
        color: $light-blue1;
        margin-bottom: 10px;
    }
}

.skills-icon-container {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}


//* MEDIA QUERY

//tablet
@media only screen and (min-width: 774px) {
    .info-section {
        h2 {
            font-size: 50px;
            margin-bottom: 25px;
        }

        .about-section,
        .skills-section,
        .text-container,
        .skills-icon-container {
            width: 604px;
        }
    }

    .about-section {
        margin-bottom: 40px;

        p {
            font-size: 20px;
            line-height: 35px;
        }
    }
}

// Desktop
@media only screen and (min-width: 1440px) {

    .info-section {
        margin-bottom: 50px;

        .about-section,
        .skills-section,
        .text-container,
        .skills-icon-container {
            width: 1098px;
        }
    }

    .about-section {
        p {
            font-size: 25px;
            line-height: 42px;
        }
    }

    .skills-icon-container {
        gap: 0px;
        justify-content: space-between;
    }
}