.info-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;

    h2 {
        font-weight: 800;
        font-size: 40px;

    }

    .about-section,
    .skills-section,
    .text-container,
    .skills-icon-container {
        width: 347px;
    }
}

//* About
.about-section {
    margin-bottom: 20px;

    h2 {
        color: #FFF500;
    }

    p {
        font-size: 13px;
        line-height: 27px;
    }
}

//*Skills
.skills-section {
    h2 {
        color: #00FFF0;
        margin-bottom: 10px;
    }
}

.skills-icon-container {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

// *ICONS
.skills-icon {
    background-size: cover;
    height: 60px;
    width: 60px;

}


.html-icon {
    background: url('../assets/icons/html.svg') no-repeat
}

.css-icon {
    background: url('../assets/icons/css.svg') no-repeat
}

.js-icon {
    background: url('../assets/icons/javascript.svg') no-repeat
}

.sass-icon {
    background: url('../assets/icons/sass.svg') no-repeat
}

.bootstrap-icon {
    background: url('../assets/icons/boostrap.svg') no-repeat
}

.react-icon {
    background: url('../assets/icons/react.svg') no-repeat
}

.redux-icon {
    background: url('../assets/icons/redux.svg') no-repeat
}

.mongo-icon {
    background: url('../assets/icons/mongo.svg') no-repeat
}

.node-icon {
    background: url('../assets/icons/node.svg') no-repeat
}

//* END ICONS

//* MEDIA QUERY

//tablet
@media only screen and (min-width: 774px) {
    .info-section {
        h2 {
            font-size: 50px;
            margin-bottom: 25px;
        }

        .about-section,
        .skills-section,
        .text-container,
        .skills-icon-container {
            width: 604px;
        }
    }

    .about-section {
        margin-bottom: 40px;

        p {
            font-size: 20px;
            line-height: 35px;
        }
    }
}

// Desktop
@media only screen and (min-width: 1440px) {

    .info-section {
        margin-bottom: 50px;

        .about-section,
        .skills-section,
        .text-container,
        .skills-icon-container {
            width: 1098px;
        }
    }

    .about-section {
        p {
            font-size: 25px;
            line-height: 42px;
        }
    }

    .skills-icon-container {
        gap: 0px;
        justify-content: space-between;
    }
}