.projects-section {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.projects-content-container {
    width: 344px;

    h2 {
        color: #8ECA42;
        font-weight: 800;
        font-size: 50px;
        // margin-top: 80px;
        margin-bottom: 40px;
    }
}


.projects-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card {
    width: 344px;
    height: 280px;

}

.card-body {
    height: 218px;
    background: #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img {
    width: 327px;
    height: 199px;
}

.card-title {
    height: 66px;
    background: #8D8D8D;
    padding-left: 9px;

    h3 {
        font-weight: 600;
        font-size: 17px;
        margin-bottom: 5px;
    }

    h4 {
        font-weight: 400;
        font-size: 13px;
    }

    a {
        margin-top: 2px;
        color: white;
    }
}

// Tablet
@media only screen and (min-width: 774px) {
    .projects-content-container {
        width: 750px;

        h2 {
            text-align: center;
            font-size: 60px;
            height: 60px;
        }

        .projects-container {
            // border: 1px solid;
            // align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            width: 750px;
        }
    }
}

@media only screen and (min-width: 1440px) {
    .projects-content-container {
        width: 1098px;

        .projects-container {
            width: 1098px;
        }
    }



}