// *ICONS
.skills-icon {
    background-size: cover;
    height: 60px;
    width: 60px;

}


.html-icon {
    background: url('../assets/icons/html.svg') no-repeat
}

.css-icon {
    background: url('../assets/icons/css.svg') no-repeat
}

.js-icon {
    background: url('../assets/icons/javascript.svg') no-repeat
}

.sass-icon {
    background: url('../assets/icons/sass.svg') no-repeat
}

.bootstrap-icon {
    background: url('../assets/icons/boostrap.svg') no-repeat
}

.react-icon {
    background: url('../assets/icons/react.svg') no-repeat
}

.redux-icon {
    background: url('../assets/icons/redux.svg') no-repeat
}

.mongo-icon {
    background: url('../assets/icons/mongo.svg') no-repeat
}

.node-icon {
    background: url('../assets/icons/node.svg') no-repeat
}

//* END ICONS